* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.navbar {
    height: 63px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.navlogo {
    height: 55px;
    width: 113px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    position: relative;
    left: 10px;
}

.logo:hover {
    border: 1px solid white;
}

.deliverto {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.Pakistan {
    margin-left: 4px;
    font-size: 14px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.navaddress {
    position: relative;
    left: 20px;
    /* padding-top: 11.5px; */
    border: 2px solid transparent;
    /* height: 40px; */
}

.navaddress:hover {
    border: 1px solid white;
}

.navsearch {
    display: flex;
    position: relative;
    padding: 11px 0;
    /* justify-content: space-between; */
    width: 100%;
    margin-left: 40px;
    max-width: 800px;
}

.search-select {
    width: 50px;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border: none;
    background-color: #E6E6E6;
}

.search-input {
    width: calc(100% - 145px);
    font-size: 1rem;
    border: none;
}

.searchicon {
    width: 45px;
    height: 40px;
    background-color: rgb(252, 182, 77);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.3rem;
}

.search-lang {
    width: 50px;
    height: 40px;
    text-align: right;
    position: relative;
    left: -30px;
    top: 10px;
    /* background-color: black; */
    color: white;
}

.box5 {
    width: 120px;
    text-align: left;
    position: relative;
    left: -10px;
    /* top: 5.5px; */
    /* height: 40px; */
    border: 2px solid transparent;
    /* padding-top: 11.5px; */
}

.box5:hover {
    border: 1px solid white;
}

.first-text {
    font-size: 0.80rem;
}

.second-text {
    font-size: 0.85rem;
    font-weight: 700;
}

.Language {
    /* height: 40px; */
    width: 45px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

.box6 {
    width: 63px;
    text-align: left;
    position: relative;
    left: 0px;
    /* top: 6px; */
    /* height: 40px; */
    border: 2px solid transparent;
    /* padding-top: 11.5px; */
}

.box6:hover {
    border: 1px solid white;
}

.return-text {
    font-size: 0.80rem;
}

.andOrder-text {
    font-size: 0.85rem;
    font-weight: 700;
}

.box7 {
    display: flex;
    position: relative;
    left: 9px;
    top: 2px;
    height: 40px;
    width: 70px;
    align-items: center;
    border: 2px solid transparent;
}

.cart-icon i {
    font-size: 25px;
}

.cart-text {
    font-size: 0.85rem;
    font-weight: 700;
}

.box7:hover {
    border: 1px solid white;
}

.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 100%;
}

.pannel-options p {
    display: inline;
    margin-left: 10px;
}

.pannel-options {
    width: 95%;
    font-size: 0.85rem;
}

.hero-sec {
    background-image: url(hero_image.jpg);
    background-color: #007185;
    height: 400px;
    width: 100%;
    max-width: 100%;
    background-size: cover;
    display: flex;
}

.hero-back {
    background-color: #63919b;
    width: 100%;
    overflow: hidden;
}

.box {
    border: none;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    max-width: 100%;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    max-width: 100%;
    overflow: hidden;
}

.box1-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box1-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1-content p {
    color: #007185;
}

footer {
    margin-top: 15px;
}

.footpannel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul {
    margin-top: 40px;
}

.footpannel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

ul p {
    font-weight: 700;
}

.footpannel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.01px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footpannel3 .logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpannel4 {
    background-color: #16212c;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}
